{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "nextbench-a11ed",
    "storage_bucket": "YOUR_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.nextbench.app"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_WEB_API_KEY"
        }
      ],
      "oauth_client": [
        {
          "client_id": "YOUR_WEB_OAUTH_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ]
    }
  ],
  "configuration_version": "1"
}
